<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<header>
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}">
</header>
<th:block th:fragment="header">
<!-- 내가 만든 header -->
    <div class="header">
        <div class="header_left" alt="#">
            <img class="moneylogo" th:src="@{/img/logo.png}" alt="#">
            <a class="logo_text" >내부자</a>
        </div>
        <div class="header_right">
            <!-- 로그인한 사람중 ROLE_MEMBER 권한 있는 사람에게만 보이는 메뉴 -->
            <div sec:authorize="hasAnyRole('MEMBER')" th:with="user=${#authentication.getPrincipal().getUser()}">
                <span class="user">[[${user.name}]]</span>
                <img class="userlogo" th:src="@{/img/user.png}" alt="">
            </div>
            <!-- 로그인한 사람중 ROLE_ADMIN 권한 있는 사람에게만 보이는 메뉴 -->
            <div sec:authorize="hasRole('ADMIN')" th:with="user=${#authentication.getPrincipal().getUser()}">
                <span class="user">[[${user.name}]]</span>
                <img class="userlogo" th:src="@{/img/admin.png}" alt="">
            </div>

            <!-- 로그인 안했을때는 로그인 form 보여주기 -->
            <!-- 모달창으로 로그인창 띄우기 -->
            <a data-toggle="modal" data-target="#modal_login" class="btn btn-warning" sec:authorize="isAnonymous()" >Login</a>


            <form th:action="@{/user/logout}" method="POST" sec:authorize="isAuthenticated()" th:with="user=${#authentication.getPrincipal().getUser()}">
                <!--TODO : 로그아웃후 다시 돌아오기 -->
                <span class="d-flex">
                        <span><button class="btn btn-danger" type="submit">Logout</button></span>
                  </span>
            </form>
        </div>
    </div>

<!--    <div class="container-fluid mt-3">-->
<!--        &lt;!&ndash; 로그인 하지 않았을때 보여주는 화면 &ndash;&gt;-->
<!--        <div class="alert alert-warning alert-dismissible" sec:authorize="isAnonymous()">-->
<!--            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>-->
<!--            로그인하지 않은 상태입니다 <br>-->
<!--        </div>-->
<!--        &lt;!&ndash; 로그인 했을때 보여주는 화면 &ndash;&gt;-->
<!--        <div class="alert alert-info alert-dismissible" sec:authorize="isAuthenticated()">-->
<!--            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>-->
<!--            <div th:text="${#authentication.getPrincipal().getUser()}"></div>-->
<!--            <div sec:authentication="principal.authorities"></div>-->
<!--            로그인 하셨습니다 <br>-->
<!--        </div>-->
<!--    </div>-->
</th:block>

</html>