.c1m_11 {
    font-size: 16px;
}

.cm_title th{
    font-size: 16px;
}

#cmt_list {
    font-size: 16px;
}

.cm_write{
    width : 90%;
    font-size: 16px;
    border: 1px solid black;
    margin-right: 10px;
}

.regist {
    display : inline-block;
    width: 80px;
    font-size:16px;
    background: rgba(255, 196, 12, 0.42);
    border : none;
}

.regist:hover{
    color: white;
}