.all {
    display:flex;
    flex-direction:row;
    width: 100%;
    height: auto;
    padding-left:197px;
    padding-right:197px;
    padding-bottom : 50px;
}

.mt-3 {
    width :100%;
}

.container {
    padding : 15px;
}

.sub {
}

.id {
    float: left;
    width: 20%;
    box-sizing: border-box;
    letter-spacing: 6px;
}

.id div {
    display : inline-block;
    font-size : 16px;
    letter-spacing: 6px;
}

#myId {
    background-color: #F4F4F7;
    letter-spacing: 6px;
}

.username{
    float: left;
    margin-left: 5%;
    width:20%;
    box-sizing: border-box;
    letter-spacing: 6px;
}
.username div {
    display : inline-block;
    font-size : 16px;
    letter-spacing: 6px;
}

#myName {
    background-color: #F4F4F7;
}

.regDate {
    float: right;
    width:40%;
    box-sizing: border-box;
    letter-spacing: 6px;
}

.regDate div {
    display : inline-block;
    font-size : 16px;
    letter-spacing: 6px;
}

#myDate {
    background-color: #F4F4F7;
    letter-spacing: 6px;
}
.subject {
    float : left;
}
.subject div{
    display : inline-block;
    padding : 0 1px 0 1px;
    font-size: 16px;
    letter-spacing: 6px;
}

.subjectBox {
    background-color: #F4F4F7;
    border : none;
}

.content {
    padding : 0 1px 0 1px;
    font-size: 16px;
    letter-spacing: 6px;
}

.contentBox {
    background-color: #F4F4F7;
    font-size : 16px;
    border : none;
    width : 100%
}

.allMenu {
    float: right;
}

#modify, #list {
    width: 90px;
    height: 40px;
    font-size:16px;
    background: #FFE699;
    float : left;
    margin-right: 10px;
    border : 1px solid #FFE699;
}

.delete {
    width: 90px;
    height: 40px;
    font-size:16px;
    background: rgba(255, 196, 12, 0.42);
    float : left;
    margin-right: 10px;
    border : none;
}

.delete:hover{
    color:white;
}