.list{
display:flex;
flex-direction:column;

padding-left:10px;
padding-right:10px
}

.list-paging-header{

    width: 145px;
    height: 41px;

    background: #F4F4F7;
    flex:0 1 auto;
}

.sub {
    font-weight:bold;
}

.frm-select {
    margin-right: 10px;
    background-color: rgb(237, 235, 235);

    width: 150px;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 12px 13px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
}


.list-top{
display:flex;
}

.list-top h2{
flex:1 1 auto;
}

.list-table{
}


.list-table-title{

}

.content_top th{
    text-align: center;
    font-size: 16px;
}

.content_list td{
    text-align: center;
    font-size: 16px;
}

.list-table a{
    text-decoration: none;
    color: black;
}


#write_1{
    float:right;
    width: 110px;
    height: 40px;
    background: #FFE699;
    font-size:16px;
    font-weight:bold;
}

.notice-subject {
    color : red !   important;
}