@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');

.listTop {
    width: 100%;
    margin: 10px auto;
    display: flex;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    flex-direction:column;
    padding-left:197px;
    padding-right:197px;
}

.list {
    width: 100%;
    margin: 10px auto;
    display: flex;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    flex-direction:column;
    padding-left:197px;
    padding-right:197px;
}

.list-paging-header{
    width: 145px;
    height: 41px;
    flex:0 1 auto;
}

.sub {
    font-weight:bold;
}

.frm-select {
    margin-right: 10px;
    background-color: rgb(237, 235, 235);
    padding : 7px;
    width: 100px;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 10px;
    font-family: 'Roboto Mono', monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
}


.list-top{
    display:flex;
}

.list-top h2{
    flex:1 1 auto;
    margin: 10px auto;
}

.list-table{
}


.list-table-title{

}

.content_top th{
    text-align: center;
    font-size: 16px;
}

.content_list td{
    text-align: center;
    font-size: 16px;
}

.list-table a{
    text-decoration: none;
    color: black;
}


#write_1{
    float:right;
    width: 110px;
    height: 40px;
    background: #FFE699;
    font-size:16px;
    font-weight:bold;
    font-family: 'Roboto Mono', monospace;
    border: none;
}

.notice-subject {
    color : red !   important;
}