@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');
.container mt-3 {
    width: 100%;
    margin: 10px auto;
    display: flex;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
}
.property-detail{
    width: 0px;
    overflow-x: hidden;
    transition: all 0.3s ease;
}

.property-detail tbody{
    overflow-y: scroll;
}

#cmt_list tr{
    display: flex;
    justify-content: space-between;
}

.detail-header{
    display: flex;
    justify-content: space-between;
}

.de-first{
    display: flex;
    width: 130px;
    justify-content: space-between;
}

.de-second{
    width: 150px;
    display: flex;
    justify-content: space-around;
}

.property-card{
    display: flex;
    justify-content: space-around;
}

.prop-type {
    background: gray;
    width: 100px;
}

.transac-head tr th{
    width: 270px;
}

.transac-head tr th div{
    display: flex;
}

.closebtn{
    text-decoration: none;
    color: gray;
    font-size: 34px;
}

.de-first p{
    margin: 0;
    align-self: center;
}

.btnDel{
    z-index: 9999;
}