.sidebar{
    float: left;
    width: 236px;
    height: 100%;
    background-color: #eee;
    overflow: auto;
    transition: all 0.3s ease-in-out;
}

.sidebar.collapsed {

}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu-item {
  margin-bottom: 10px;
}

.menu-item a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
}

.menu-item.active a {
  color: #fff;
  background-color: #428bca;
}

.under_header{
    display: flex;
}