.all {
    display:flex;
    flex-direction:row;
    padding-left:197px;
    padding-right:197px;
    padding-bottom : 50px;
}

.sub {
}

.writeName {
    background-color: #F4F4F7;
    letter-spacing : 7px;
}

.username {
    display : inline-block;
    letter-spacing : 4px;
}

.username div{
    float : left;
    padding : 5px;
    font-size: 16px;
}

#date {
    background-color: #F4F4F7;
    letter-spacing : 5px;
}

.regDate {
    float: right;
    display : inline-block;
    letter-spacing : 4px;
}

.regDate div{
    float : left;
    padding : 5px;
    font-size: 16px;
    letter-spacing : 4px;
}

.subject div{
    float : left;
    padding : 5px;
    font-size: 16px;
    letter-spacing: 6px;
}

.inputBox {
    display : inline-block;
    width : 100%;
    font-size:16px;
}

.content div{
    font-size: 16px;
    letter-spacing: 6px;
    padding : 5px;
}

.save_cancel {
    float : right;
}

.save {
    width: 80px;
    height: 40px;
    font-size:16px;
    background: rgba(255, 196, 12, 0.42);
    float : left;
    margin-right: 10px;
    border: none;
}

#cancel {
    width: 80px;
    height: 40px;
    font-size:16px;
    background: rgba(255, 196, 12, 0.42);
    float : left;
    border: none;
}
