<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">

  <title>로그인</title>
</head>

<body>
<th:block th:fragment="setLogin(login)">

  <div class="e1_190">
    <form th:action="@{/user/login}" method="POST">
      <div class="row mt-5">
        <div class="col-12 text-danger" th:text="${errorMessage}">
          <!--/* 에러메세지 */-->
        </div>
      </div>
      <div class="form-floating">
        <!--  ⬇️⭐  -->
        <input type="text" class="e1_3" name="username" id="username" th:value="${username }" placeholder="  아이디"  required>
      </div>
      <div class="form-floating mt-1">
        <!--  ⬇️⭐  -->
        <input type="password" class="e1_4" name="password" id="password" value="" placeholder="  비밀번호" required>
      </div>

      <button class="e1_5" type="submit">로그인</button>
    </form>
    <div class="e1_15"></div>
    <div class="e1_6">
      <p>계정이 없으신가요?&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;<a th:href="@{/user/register}"><span>가입하기</span></a></p>
      <p>아이디를 잊으셨나요?&emsp;&emsp; <a th:href="@{/user/findId}"><span>아이디 찾기</span></a></p>
      <p>비밀번호를 잊으셨나요? <a><span>비밀번호 찾기</span></a></p>
    </div>
  </div>
</th:block>

</body>
</html>


