<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/monthly.css}">

    <script src="https://kit.fontawesome.com/51772bd9bd.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script th:src="@{/js/transaction.js}"></script>


    <title>일별 거래</title>
</head>
<body>

<!--/* 인증 헤더 */-->
<th:block th:insert="~{common/header::header}"></th:block>

<div class="under_header">
    <!--/* 사이드바 */-->
    <th:block th:insert="~{common/sidebar::sidebar}"></th:block>


    <!-- 이 페이지에서 보여줄 내용 -->
    <div class="container mt-3" id="monthlyTransaction">
        <div th:class="show-duration">
            <div th:class="daily" th:onclick="location.href='/transaction/daily'">
                <p>일 별</p>
            </div>
            <div th:class="monthly">
                <p>월 별</p>
            </div>

            <div style="width:500px;">
                <div class="btn prevMonth" onclick="prevMonth()">
                    <p> < </p>
                </div>
                <span id="setYear" th:text="${#temporals.year(date)}"></span>
                <span id="setMonth" th:text="${#temporals.month(date)}"></span>
                <div class="btn nextMonth" onclick="nextMonth()">
                    <p> > </p>
                </div>
            </div>

        </div>

        <hr>
        <div class="favorite-area" >
            <div th:class="transition-type">
                <div th:class="transition-total">
                    <span>통계</span><br>
                    <span id="totalspan"></span>
                </div>
                <div th:class="transition-income">
                    <span>수입</span><br>
                    <span id="incomespan"></span>
                </div>
                <div th:class="transition-outcome">
                    <span>지출</span><br>
                    <span id="outcomespan"></span>
                </div>
                <div th:class="transition-transfer">
                    <span>이체</span><br>
                    <span id="transferspan"></span>
                </div>
            </div>
            <hr>
            <div th:class="content">
                <table class="table table-hover">
                    <thead th="table-success">
                    <tr>
                        <th>ID</th>
                        <th>날짜</th>
                        <th>계좌</th>
                        <th>거래</th>
                        <th>분류</th>
                        <th>내용</th>
                        <th>금액</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="dto : ${list}">
                        <td>[[${dto.id}]]</td>
                        <td>[[${#temporals.format(dto.regdate, 'yyyy-MM-dd HH:mm:ss')}]]</td>
                        <td>[[${dto.property_id.name}]]</td>
                        <td>[[${dto.transaction_type}]]</td>
                        <td>[[${dto.category}]]</td>
                        <td>[[${dto.content}]]</td>
                        <td class="money">[[${dto.money}]]</td>
                        <td style="display: flex; justify-content: space-between;">
                            <button type="button" class="btn btn-outline-danger btnDel" th:value="${dto.id}">삭제</button>
                        </td>
                        <form th:name="${dto.id}" th:action="@{/transaction/delete}" method="post">
                            <input type="hidden" name="id" th:value="${dto.id}">
                        </form>
                    </tr>
                    </tbody>
                </table>
                <!-- 목록 -->

            </div>
        </div>

    </div>
    <form name="delId">
        <input type="hidden" name="id">
    </form>
</div>
</body>
<!--/* button */-->
<footer>
    <th:block th:insert="~{common/button}"></th:block>
</footer>
<script th:src="@{/js/monthly.js}"></script>
<script th:inline="javascript">
    let totals = 0;
    let incomes = 0;
    let outcomes = 0;
    let transfers = 0;

    [[${income}]].forEach( test => {incomes += test.money; totals += test.money});
    [[${outcome}]].forEach( test => {outcomes += test.money; totals -= test.money});
    [[${transfer}]].forEach( test => {transfers += test.money});

    let totalmoney = String(totals).replace(/(\d)(?=(?:\d{3})+(?!\d))/g, '$1,');
    let incomemoney = String(incomes).replace(/(\d)(?=(?:\d{3})+(?!\d))/g, '$1,');
    let outcomemoney = String(outcomes).replace(/(\d)(?=(?:\d{3})+(?!\d))/g, '$1,');
    let transfermoney = String(transfers).replace(/(\d)(?=(?:\d{3})+(?!\d))/g, '$1,');
    console.log(totalmoney);
    console.log(incomemoney);
    console.log(outcomemoney);
    console.log(transfermoney);


    document.getElementById("totalspan").innerHTML = totalmoney;
    document.getElementById("incomespan").innerHTML = '+ ' + incomemoney;
    document.getElementById("outcomespan").innerHTML = '- ' + outcomemoney;
    document.getElementById("transferspan").innerHTML = transfermoney;
</script>
<script>
  let money = document.getElementsByClassName("money");
  const array = Array.from(money);
  const formattedValues = array.map(element => element.innerText = Number(element.textContent).toLocaleString());
</script>

</html>
