<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<script th:if="${list == null} or ${#lists.size(list) <= 0}">
    alert("해당 정보가 삭제되거나 없습니다");
    history.back();



</script>

<th:block th:if="${list} and ${#lists.size(list) > 0}"
          th:with="dto=${list[0]}, logged_user=${#authentication.principal.user}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

        <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

        <script th:inline="javascript">
        const conPath = [[${conPath}]];
        const logged_id = [[${logged_user.id}]];



        </script>

        <link rel="stylesheet" th:href="@{/css/detail.css}">

        <script th:src="@{/js/detail.js}"></script>

        <title>게시판</title>
    </head>


    <body>
    <!--/* 인증 헤더 */-->
    <th:block th:insert="~{common/header::header}"></th:block>

    <div class="under_header">

        <!--/* 사이드바 */-->
        <th:block th:insert="~{common/sidebar::sidebar}"></th:block>


        <div class="all">
            <div class="container mt-3">
                <h2 class="sub">D e t a i l</h2>
                <hr>

                <div class="container">
                    <div class="id">
                        <div>ID</div>
                        <div id="myId">[[${dto.id}]]</div>
                    </div>

                    <div class="username">
                        <div>작성자</div>
                        <div id="myName">[[${dto.user.username}]]</div>
                    </div>

                    <div class="regDate">
                        <div>작성일</div>
                        <div id="myDate">[[${#temporals.format(dto.regDate, 'yyyy년MM월dd일 HH시mm분')}]]</div>
                    </div>
                </div>
                <br><br>

                <div>
                    <section>
                        <form name="frmDelete" th:action="@{/board/delete}" method="post">
                            <input type="hidden" name="id" th:value="${dto.id}">
                        </form>


                        <div class="subject">
                            <div>제목</div>
                            <div class="subjectBox">[[${dto.subject}]]</div>
                        </div>
                        <br><br>

                        <div class="3">
                            <div class="content">내용</div>
                            <div class="contentBox" th:utext="${dto.content}"></div>
                        </div>

                        <!-- 첨부파일목록 -->
                        <div class="container mt-3 mb-3 border rounded">
                            <div class="mb-3 mt-3">
                                <label>첨부파일:</label>
                                <!-- 첨부파일 이름, 다운로드 링크 -->
                                <ul class="list-group mb-1">
                                    <li class="list-group-item" th:each="fileDto : ${dto.fileList}">
                                        <a th:href="@{download(id=${fileDto.id})}">[[${fileDto.source}]]</a>
                                    </li>
                                </ul>
                                <!--/* 이미지인 경우 보여주기 */-->
                                <div th:each="fileDto : ${dto.fileList}" th:if="${fileDto.image}">
                                    <img th:src="@{'/upload/' + ${fileDto.file}}" class="img-thumbnail"
                                         alt="Cinque Terre">
                                </div>
                            </div>
                        </div>
                        <!-- 첨부파일목록 -->

                   `     <!-- 댓글 -->
                        <th:block th:insert="~{board/comment::comment}"></th:block>
                        <!-- 댓글 -->

                        <!-- 하단 링크 -->

                        <div class="allMenu">
                            <button type="button" class="delete" id="btnDel" th:if="${logged_user.id == dto.user.id}">
                                삭제
                            </button>
                            <a class="btn btn-outline-dark" id="modify" th:href="@{/board/update(id=${dto.id})}"
                               th:if="${logged_user.id == dto.user.id}">수정</a>
                            <a class="btn btn-outline-dark" id="list"
                               th:href="@{/board/list(page=${session.page})}">목록</a>

                            <!-- 하단 링크 -->
                        </div>
                    </div>
                </section>
            </div>
        </div>

    </div>
    </body>
</th:block>
</html>























