<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/writeOk.css}">


<script>
  function move()
{
location.href = "detail?id=[[${dto.id}]]"
}


</script>
<body>
<div class="background">
  <div class="window">
    <div class="popup">
      <img src="/img/money.png" />
      <div class="popupText">
        <div th:if="${result > 0}">
          게시글 등록되었습니다
        </div>
        <div th:unless="${result > 0}">
          등록 실패
        </div>
      </div>
      <div>
        <button class="ok" th:onclick="move()" th:if="${result > 0}">확인</button>
        <button th:onclick="history.back()" th:unless="${result > 0}">확인</button>
      </div>
    </div>
    <div>
      <div></div>
    </div>
  </div>
</div>
</body>
</html>

